


#[temperature_sensor dry_box]
#sensor_type: Custom 4450
#sensor_pin: PF6


[thermistor Custom 444]
temperature1: 25
resistance1: 100000
temperature2: 50
resistance2: 31230
temperature3: 100
resistance3: 4587


[thermistor Custom jaycarblue]
temperature1: 25
resistance1: 100000
temperature2: 50
resistance2: 35884 
temperature3: 100
resistance3: 6610


[heater_generic dry_box]
gcode_id: 5
#   The id to use when reporting the temperature in the M105 command.
#   This parameter must be provided.
heater_pin:PE5
#max_power:
sensor_type: Custom 444
sensor_pin: PF5
#smooth_time:
control: pid
pid_Kp=58.941
pid_Ki=0.869
pid_Kd=999.051
#pwm_cycle_time:
min_temp: 5
max_temp: 150
#   See the "extruder" section for the definition of the above
#   parameters.

[temperature_sensor dry_box_enclosure]
sensor_type: Custom 444 #max temp with 5015 duct @ 100% is 39.9
sensor_pin: PF6

#[temperature_sensor dry_box_enclosure_blue]
#sensor_type: Custom jaycarblue #max temp with 5015 duct @ 100% is 39.9
#sensor_pin: PF7


[verify_heater dry_box]
max_error: 350
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time:240
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
heating_gain: 1
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.