[mcu rpi]
serial: /tmp/klipper_host_mcu

[mcu EBBCan]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: cb68e5f6a420

[adxl345]
cs_pin: EBBCan:gpio1
spi_software_sclk_pin: EBBCan:gpio2
spi_software_mosi_pin: EBBCan:gpio0
spi_software_miso_pin: EBBCan:gpio3
axes_map: z,-y,x

[resonance_tester]
probe_points: 100, 100, 20
accel_chip: adxl345


## START PRINTER CFG
[include mainsail.cfg]
[include timelapse.cfg]
[include steppers.cfg]
[include included/macros.cfg]
[include KAMP_Settings.cfg]
[include included/knomi.cfg]
[include included/moonraker_obico_macros.cfg]
[include included/nozzle_scrub.cfg]
[include included/test_speed.cfg]
[include included/burner_leds.cfg]
[include K-ShakeTune/*.cfg]


[pause_resume]
[exclude_object]
[gcode_arcs]

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_060027000E5053424E363620-if00
restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 500           #300
max_accel: 5500             #5500
max_accel_to_decel: 4000    #5500
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##  SSR Pin - HE1
##  Thermistor - TB
heater_pin: PA3
##  Validate the following thermistor type to make sure it is correct
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: Generic 3950
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.6
min_temp: 0
max_temp: 120


#####################################################################
#   Chamber Temp
#####################################################################

[temperature_sensor chamber]
sensor_type: BME280
i2c_address: 119
#   Default is 118 (0x76). Some BME280 sensors have an address of 119
#   (0x77).
i2c_mcu: rpi
i2c_bus: i2c.1
min_temp: 0
max_temp: 90
gcode_id: C

#Toolhead PCB
[temperature_sensor toolhead_temp]
sensor_type: Generic 3950
sensor_pin: EBBCan:gpio28
min_temp: 0
max_temp: 90
#gcode_id: C


#####################################################################
#   Thermals
#####################################################################

[temperature_sensor sb2209]
sensor_type: temperature_mcu
max_temp: 90
sensor_mcu: EBBCan

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
max_temp: 100

#[temperature_sensor Bed_Surface]
#sensor_type: ATC Semitec 104GT-2
#sensor_pin: PF6

#####################################################################
#   Probe
#####################################################################
[probe]
pin: ^!EBBCan:gpio22
x_offset: 0
y_offset: 0
#z_offset: 0
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3


activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}


#####################################################################
#   Fan Control
#####################################################################

# Part cooling
[fan]
pin: EBBCan:gpio13
#kick_start_time: 0.5

# Hotend cooling
[heater_fan hotend_fan]
pin: EBBCan:gpio14
heater: extruder
heater_temp: 50.0
#kick_start_time: 0.5


## FAN0 & FAN1 & FAN2
[multi_pin my_controller_fan]
pins: PA8,PE5,PD12
[controller_fan controller_fans]
pin: multi_pin:my_controller_fan
kick_start_time: 0.5
fan_speed: 0.85


[fan_generic exhaust_fan]
##  Exhaust fan - FAN3
pin: PD13
#max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
off_below: 0.10
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

[fan_generic nevermore_filter]
pin: PD14
#max_power: 1.0
#shutdown_speed: 0.0
kick_start_time: 0.5
off_below: 0.10
#fan_speed: 1
#heater: heater_bed
#heater_temp: 90.0

##toolhead fan
#[fan_generic 4W_FAN0]
#pin: EBBCan:gpio15
#tachometer_pin: EBBCan:gpio12
##tachometer_ppr: 1


#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[safe_z_home]
home_xy_position:150,150 
speed:100
z_hop:10

[quad_gantry_level]

#--------------------------------------------------------------------
    
##  Gantry Corners for 300mm Build
##  Uncomment for 300mm build
gantry_corners:
   -60,-10
   360,370
##  Probe points
points:
   50,25
   50,225
   250,225
   250,25

#--------------------------------------------------------------------
speed: 350
horizontal_move_z: 12
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

########################################
# INPUT SHAPER
########################################
[input_shaper]
shaper_freq_x: 49.6
shaper_freq_y: 39
shaper_type: mzv

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>


#Mooncord plugin
[respond]
default_type: command

[bed_mesh]
speed: 350
horizontal_move_z: 15  #don't want the nozzle scrapping on the bed :(
mesh_min: 25,25        ##max limits 5,25
mesh_max: 270, 250   ##max limits 250, 280 Y@ this has a werid lip at the end
fade_start: 0.5
fade_end: 10.0
#split_delta_z: .01 # old value
split_delta_z: .025
algorithm: bicubic
mesh_pps: 2,2
bicubic_tension: 0.2 #default value
move_check_distance: 5.0 #default value
probe_count: 7,7 # 29/6/23 5,5
relative_reference_index: 12 # probe count x probe count -1 (/2 )

#####################################################################
#    User Variables
#####################################################################
[gcode_macro _USER_VARIABLE]
description: Helper: Contains User defined printer variables
##### Homing and general movement #####
variable_z_hop: 7.5                   ; z hop for moves e.g homing
variable_xy_home_current: 0.4         ; reduced homing current for x and y
variable_z_home_current: 0.3          ; reduced homing current for z
variable_home_accel: 1200             ; reduced ACCEL for homing
##### Respond defaults #####
variable_respond_set_current: 0       ; default of RESPOND if not set in the call
variable_respond_set_acc: 0           ; default of RESPOND if not set in the call
variable_respond_probe_action: 1      ; default of RESPOND if not set in the call
##### Park Position #####
variable_park_bed: [150,150,30]       ; different park position
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 32.667
#*# pid_ki = 1.037
#*# pid_kd = 257.250
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.058750, 0.057500, 0.036250, 0.056250, 0.027500, 0.062500, 0.012500
#*# 	0.002500, 0.000000, -0.012500, -0.021250, -0.022500, -0.020000, -0.020000
#*# 	-0.041250, -0.015000, -0.033750, -0.061250, -0.035000, -0.061250, -0.071250
#*# 	-0.077500, -0.082500, -0.070000, -0.075000, -0.102500, -0.083750, -0.070000
#*# 	-0.021250, -0.051250, -0.055000, -0.082500, -0.053750, -0.050000, -0.071250
#*# 	-0.010000, -0.032500, -0.025000, -0.047500, -0.025000, -0.010000, -0.023750
#*# 	0.047500, 0.028750, 0.030000, 0.046250, 0.053750, 0.046250, 0.048750
#*# tension = 0.2
#*# min_x = 25.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 25.0
#*# x_count = 7
#*# max_y = 250.0
#*# mesh_x_pps = 2
#*# max_x = 269.98
#*#
#*# [bed_mesh Cold]
#*# version = 1
#*# points =
#*# 	0.051250, 0.042500, 0.030000, 0.046250, 0.032500, 0.075000, 0.101250
#*# 	0.043750, 0.000000, 0.007500, 0.000000, -0.015000, 0.022500, 0.030000
#*# 	0.036250, -0.005000, -0.040000, -0.036250, -0.056250, -0.040000, -0.025000
#*# 	-0.010000, -0.041250, -0.067500, -0.061250, -0.065000, -0.075000, -0.061250
#*# 	0.038750, -0.030000, -0.041250, -0.035000, -0.031250, -0.005000, -0.051250
#*# 	0.042500, 0.068750, 0.021250, -0.026250, 0.008750, -0.010000, 0.040000
#*# 	0.115000, 0.086250, 0.067500, 0.051250, 0.081250, 0.073750, 0.083750
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 269.98
#*# min_y = 25.0
#*# max_y = 250.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.085
#*# pid_ki = 0.861
#*# pid_kd = 141.620
#*#
#*# [probe]
#*# z_offset = -0.915
