
[idle_timeout]
timeout: 1800

[safe_z_home]
##	XY Location of the Z Endstop Switch
##	Update -10,-10 to the XY coordinates of your endstop pin
##	(such as 157,305) after going through Z Endstop Pin
##	Location Definition step.
home_xy_position:229.9,353.8
speed:100
z_hop:10

[bed_mesh]
speed: 300
horizontal_move_z: 10
mesh_min: 40, 40
mesh_max: 310,310
fade_start: 0.6
fade_end: 10.0
algorithm: bicubic
bicubic_tension: 0.05
probe_count: 7,7
relative_reference_index: 24
split_delta_z: 0.01
mesh_pps: 0

[quad_gantry_level]
##	Use QUAD_GANTRY_LEVEL to level a gantry.
##	Min & Max gantry corners - measure from nozzle at MIN (0,0) and
##	MAX (250, 250), (300,300), or (350,350) depending on your printer size
##	to respective belt positions
gantry_corners:
	-60,-10
	410,420
points:
	50,25
	50,275
	300,275
	300,25
speed: 100
horizontal_move_z: 20
retries: 20
retry_tolerance: 0.0075
max_adjust: 20

