# This file contains common pin mappings for the BigTreeTech OctoPus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

##steppers
## motor0 stepper X B Motor
## motor1 stepper Y A Motor
## motor2_1
## motor2_2
## motor3 extruder
## motor4 front left
## motor5 rear left
## motor6 rear right
## motor7 front right

[include fluidd.cfg]
[include include_files/Klicky-Probe.cfg]
#[include include_files/Stepper_Drivers.cfg]
[include include_files/Stepper_Drivers_TMC.cfg]
[include include_files/Display.cfg]
[include include_files/macros.cfg]
[include include_files/speed_test.cfg]
[include include_files/print_area_bed_mesh.cfg]
[include include_files/scrubber_v2.cfg]
#[include include_files/x_y_accuracy.cfg]
#[include include_files/Z_accuracy.cfg]
#[include include_files/z_calibration.cfg] #will fix this later


## https://raw.githubusercontent.com/bigtreetech/BIGTREETECH-OCTOPUS-V1.0/master/Hardware/BIGTREETECH%20Octopus%20-%20PIN.pdf

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_3C001200085053424E363420-if00
#restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 450  ##300 #mm per sec = 16,800 x 60     #g0 x20 16,800 
max_accel: 8000#6000
max_accel_to_decel: 8000
max_z_velocity: 40 # = 2400 # 50 is far too fast !!!
max_z_accel: 600 #800 too fast? #prev400
square_corner_velocity: 5.0

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 62.2
shaper_type_y = mzv
shaper_freq_y = 46.2

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    150,150,60

## https://au.mouser.com/ProductDetail/?qs=%252B4z%252Bl1oDOjRbia9wIuJ4PQ%3D%3D   NOT IN USE
## https://www.vishay.com/thermistors/ntc-rt-calculator/
## https://au.mouser.com/ProductDetail/?qs=BQRf3mDKtGFSvuWeNgA%2FIQ%3D%3D
[thermistor Custom NTCB2585]
temperature1: 25.0
resistance1: 10000.0
temperature2: 50.0
resistance2: 3602.0  
temperature3: 100.0
resistance3: 680.0

# Definition from (20211101): https://www.keenovo.com/NTC-Thermistor-R-T-Table.pdf
[thermistor Custom 3950]
temperature1: 25
resistance1: 100000
temperature2: 50
resistance2: 35899
temperature3: 100
resistance3:  6010 # +4c # 5850 # +5c


#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA1
#sensor_type: NTC 100K MGB18-104F39050L32 #NTC 100K beta 3950
sensor_type: Custom 3950 #Custom NTC100K B3950
sensor_pin: PF3
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.80 ##max 0.8 apparently
min_temp: 0
max_temp: 120
smooth_time: 2.0
control = pid
pid_kp = 51.267 
pid_ki = 1.128
pid_kd = 582.526


[verify_heater heater_bed]
max_error: 200
check_gain_time: 100
hysteresis: 5
heating_gain: 1

#####################################################################
# 	Probe
#####################################################################

[probe]
pin: ^PG15 #^!PG15
x_offset: 0.0
y_offset: 21.0
#z_offset: 7.160 #correct according to feelergauge
z_offset: 7.145 # applied from printing
samples: 2 #difference is 0.01 confirmed with math XD
speed: 8.0 #seems like 8 is a bit too fast?
lift_speed: 50#prev 100 wonder if this over rides the max z velocity ?
samples_result: average
sample_retract_dist: 0.20 #0.4
#sample_retract_dist: 5.00 #0.4
samples_tolerance: 0.006#0.010
samples_tolerance_retries: 15
terminal_output: False

#####################################################################
# 	Fan Control
#####################################################################

[fan]
##	Print Cooling Fan
pin: PA8
#hardware_pwm: True
cycle_time: 0.100

[heater_fan hotend_fan]
##	Hotend Fan
pin: PE5
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 60.0

#cycle_time: 0.100
#   The amount of time (in seconds) per PWM cycle. It is recommended
#   this be 10 milliseconds or greater when using software based PWM.
#   The default is 0.100 seconds for pwm pins.

[fan_generic Octopus_Drivers]
pin: PD12
max_power:  1.0 #prev 0.7 a little loud
#pwm: True
#hardware_pwm: True
cycle_time: 0.050

[fan_generic Skirt_Fan1] ##24V   https://www.cuidevices.com/product/resource/cfm-60v.pdf
pin: PB11
max_power:  1.0
cycle_time: 0.100
kick_start_time:0.5
#pwm: True
#hardware_pwm: True

[fan_generic Skirt_Fan2] #12V
pin: PD14
max_power:  1.0
#pwm: True
#hardware_pwm: True
cycle_time: 0.050

[temperature_fan Pi]
pin: PD13
max_power:  1.0
shutdown_speed: 0
sensor_type: temperature_host
kick_start_time: 0.5
control:watermark
target_temp: 10
min_temp: 10
max_temp: 60
min_speed: 1


#[heater_fan exhaust_fan]
##	Exhaust fan - CNC_FAN3
#pin: PD13
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#####################################################################
# 	LED Control
#####################################################################

##[output_pin caselight]
##pin: PB11
##pwm:true
##shutdown_value: 0
##value:1
##cycle_time: 0.01

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
gcode:TURN_OFF_HEATERS
timeout: 7200

#[safe_z_home]#can't use with klicky



#probe_count: 3,3
#   For rectangular beds, this is a comma separate pair of integer
#   values (X,Y) defining the number of points to probe along each
#   axis. A single value is also valid, in which case that value will
#   be applied to both axes. Default is 3,3.
#split_delta_z: .025
#   The amount of Z difference (in mm) along a move that will trigger
#   a split. Default is .025.
#move_check_distance: 5.0
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
#mesh_pps: 2,2
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed point.
#   The user may enter a single value which will be applied to both
#   axes. Default is 2,2.
#algorithm: lagrange
#   The interpolation algorithm to use. May be either "lagrange" or
#   "bicubic". This option will not affect 3x3 grids, which are forced
#   to use lagrange sampling. Default is lagrange.

#relative_reference_index:
#   A point index in the mesh to reference all z values to. Enabling
#   this parameter produces a mesh relative to the probed z position
#   at the provided index.
#faulty_region_1_min:
#faulty_region_1_max:
#   Optional points that define a faulty region.  See docs/Bed_Mesh.md
#   for details on faulty regions.  Up to 99 faulty regions may be added.
#   By default no faulty regions are set.
###################

[bed_mesh]
speed: 350
horizontal_move_z: 7.550  #don't want the switch thing scrapping on the bed :(
mesh_min: 5,21        ##max limits 5,25
mesh_max: 275, 265   ##max limits 250, 280 Y@ this has a werid lip at the end
fade_start: 0.5
fade_end: 25.0 #need higher because that 0.10mm layer height not like
split_delta_z: .01 # old value
#split_delta_z: .025
algorithm: bicubic
mesh_pps: 2,2
probe_count: 9,9
#relative_reference_index: 40 # probe count x probe count -1 (/2 ) #seems like this has been causing me problems ??


[quad_gantry_level]
gantry_corners:
	-60,-10
	360,370
	##Probe points
points:
	50,25
	50,220
	250,220
	250,25
speed: 400 ##wonder if the speed is making the klicky thing move?
horizontal_move_z: 13 #have it high because if you tilt an z axis alot when printer is off.
retries: 15
retry_tolerance: 0.004 #0.003
max_adjust: 10

#####################################################################
# 	thermistors and stuff
#####################################################################
[temperature_sensor Octopus]
sensor_type: temperature_mcu

[temperature_sensor Bed_Surface]
sensor_type: Custom NTCB2585
sensor_pin: PF6

[temperature_sensor Octopus_Drivers]
sensor_type: Generic 3950
sensor_pin: PF7

[delayed_gcode driver_fan]
initial_duration: 1
gcode:
    SET_FAN_SPEED FAN=Octopus_Drivers SPEED=0.5
	SET_FAN_SPEED FAN=Skirt_Fan1 SPEED=0.99
	SET_FAN_SPEED FAN=Skirt_Fan2 SPEED=0.5

#[temperature_sensor Pi]
#sensor_type: temperature_host

##    Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"
##   "Custom NTC100K B3950"
##   "Trianglelab NTC100K B3950"
##   "Custom_NTC100K_B3950"
