
[probe]
##	Inductive Probe
##	This probe is not used for Z height, only Quad Gantry Leveling
## Select the probe port by type:
## For the PROBE port. Will not work with Diode. May need pull-up resistor from signal to 24V.
#pin: ~!PB7
pin: can_toolhead:PROBE0_SNSR
## For the DIAG_7 port. NEEDS BAT85 DIODE! Change to !PG15 if probe is NO.
# pin: PG15
## For Octopus Pro PROBE port; NPN and PNP proximity switch types can be set by jumper
#pin: ~!PC5
x_offset: 0
# y_offset: 25.0
y_offset: 23.2
z_offset: 0
speed: 10.0
samples: 4
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 10

[safe_z_home]
##	XY Location of the Z Endstop Switch
##	Update -10,-10 to the XY coordinates of your endstop pin
##	(such as 157,305) after going through Z Endstop Pin
##	Location Definition step.
home_xy_position: 228.5,353.6
speed: 200
z_hop: 10
