[gcode_macro TENSION_BELTS]
gcode:
    G1 X10 Y10 F6000 ; front left corner
    G1 X10 Y250 F6000 ; back left corner
    G1 X250 Y250 F6000 ; back right corner
    G1 X250 Y10 F6000 ; front right corner

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: BASE_QGL
gcode:
    ATTACH_PROBE
    BASE_QGL
    DOCK_PROBE

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28 X
    G28 Y
    ATTACH_PROBE
    SET_GCODE_VARIABLE MACRO=Probe_Variables VARIABLE=probe_lock VALUE=True
    G28 Z

    # {% if not printer.quad_gantry_level.applied %}
        QUAD_GANTRY_LEVEL
        G28 Z
    # {% endif %}

    SET_GCODE_VARIABLE MACRO=Probe_Variables VARIABLE=probe_lock VALUE=False
   
[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    # Parameters
    {% set bedtemp = params.BED|int %}
    {% set hotendtemp = params.HOTEND|int %}
    {% set chambertemp = params.CHAMBER|default(0)|int %}

    M190 S{bedtemp}
    M109 S{hotendtemp}

    {% if params.MATERIAL == "ABS" %}
        SET_FAN_SPEED FAN=Nevermore SPEED=0.35
    {% endif %}

    #TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={chambertemp}

    G32                            ; home all axes
    SET_GCODE_VARIABLE MACRO=Probe_Variables VARIABLE=probe_lock VALUE=True
    G1 Z20 F3000                   ; move nozzle away from bed
    BED_MESH_CALIBRATE
    SET_GCODE_VARIABLE MACRO=Probe_Variables VARIABLE=probe_lock VALUE=False
    DOCK_PROBE
    clean_nozzle

    G0 X175 Y175 Z30 F3600

[gcode_macro PRINT_END]
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-2.0 F3600                 ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X125 Y250 F3600            ; park nozzle at rear
    BED_MESH_CLEAR
