[include fluidd.cfg]
[include klicky-probe.cfg]
[include macros.cfg]
[include display.cfg]
[include steppers.cfg]
[include fans.cfg]
[include leds.cfg]
[include nozzle_scrub.cfg]
[include gcode.calibration.cfg]

## Weird issues when dropping first layer temp, temp drops way too low
## for about 5s then catches back up. Maybe weird thermistor or wiring issue.
[verify_heater extruder]
max_error: 180
hysteresis: 15

[temperature_sensor Chamber]
sensor_type: ATC Semitec 104GT-2
sensor_pin: PF5

[temperature_sensor Octopus]
sensor_type: temperature_mcu

[force_move]
enable_force_move: True

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    175,175,5

[temperature_sensor Raspberry Pi]
sensor_type: rpi_temperature

[bed_mesh]
speed: 250
horizontal_move_z: 5
mesh_min: 25,30
mesh_max: 335, 295.00
fade_start: 0.5
fade_end: 10.0
split_delta_z: .01
algorithm: bicubic
# mesh_pps: 3,3

# probe_count: 11,11
# relative_reference_index: 61

# probe_count: 3,3
# relative_reference_index: 5

probe_count: 7,7
relative_reference_index: 25

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_10001400155053424E363620-if00

[printer]
kinematics: corexy
max_velocity: 300
# max_accel: 5700
# max_accel: 4000
max_accel: 6500
max_z_velocity: 35
max_z_accel: 350
square_corner_velocity: 5.0

[heater_bed]
heater_pin: PA1
sensor_type: NTC 100K beta 3950
sensor_pin: PF3
max_power: 0.6
min_temp: 0
max_temp: 114

[probe]
pin: PG11
x_offset: 0
y_offset: 21

speed: 3
lift_speed: 100
samples: 1
samples_result: median
sample_retract_dist: .15
samples_tolerance: 0.001
samples_tolerance_retries: 15

[idle_timeout]
timeout: 10800

[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
points:
	50,25
	50,275
	300,275
	300,25

speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.01
max_adjust: 10

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.620
#*# pid_ki = 1.054
#*# pid_kd = 155.643
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 37.666
#*# pid_ki = 1.365
#*# pid_kd = 259.893
#*#
#*# [stepper_z]
#*# position_endstop = 2.176
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 85.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 43.2
#*#
#*# [probe]
#*# z_offset = 4.665
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.040000, 0.055000, 0.052500, 0.075000, 0.082500, 0.120000, 0.117500
#*# 	0.055000, 0.010000, 0.007500, 0.012500, 0.012500, 0.085000, 0.090000
#*# 	0.035000, 0.000000, -0.005000, 0.007500, 0.035000, 0.062500, 0.125000
#*# 	0.030000, -0.030000, 0.000000, 0.002500, 0.017500, 0.080000, 0.122500
#*# 	0.030000, 0.005000, 0.005000, 0.015000, 0.030000, 0.072500, 0.130000
#*# 	0.050000, 0.017500, -0.002500, 0.005000, 0.027500, 0.077500, 0.130000
#*# 	0.087500, -0.000000, -0.005000, 0.012500, 0.020000, 0.040000, 0.120000
#*# tension = 0.2
#*# min_x = 25.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 30.0
#*# x_count = 7
#*# max_y = 294.96
#*# mesh_x_pps = 2
#*# max_x = 334.96
